.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    padding: 1rem;
}


.gif-container {
    margin-bottom: 1.5rem;
    width: 100%;
}

.error-gif {
        width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.error-heading {
    font-size: 2.5rem;
    color: #333;
    margin: 0.5rem 0;
}


.error-message {
    font-size: 1.2rem;
    color: #666;
    margin: 0.5rem 0 1.5rem;
    max-width: 600px;
}


.error-link {
    font-size: 1rem;
    color: #ffffff;
    background-color: #4BB497;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.error-link:hover {
    background-color: #3b947f;
}

@media (max-width: 600px) {
    .error-container {
        padding: 1rem;
    }

    .error-heading {
        font-size: 1.8rem;
    }

    .error-message {
        font-size: 1rem;
    }

    .error-link {
        padding: 0.6rem 1.2rem;
    }

    .gif-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    .error-gif {
        height: 300px;
    }
}


@media (min-width: 601px) and (max-width: 900px) {
    .error-container {
        padding: 2rem;
    }

    .error-heading {
        font-size: 2rem;
    }

    .error-message {
        font-size: 1.1rem;
    }

    .error-link {
        padding: 0.7rem 1.3rem;
    }

    .gif-container {
        width: 100%;
    }

    .error-gif {
        height: 350px;
    }
}


@media (min-width: 901px) {
    .error-container {
        padding: 3rem;
    }

    .error-heading {
        font-size: 2.5rem;
    }

    .error-message {
        font-size: 1.2rem;
    }

    .error-link {
        padding: 0.7rem 1.5rem;
    }

    .gif-container {
        width: 80%;
    }

    .error-gif {
        height: 400px;
    }
}