.Login_container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Login_Form {


    display: flex; 
 width: 400px;
 padding: 5px;
row-gap: 1rem;
    flex-direction: column;
    border-radius: 5px;

}